@font-face {
    font-family: "Monument Extended";
    src: url("../assets/font/MonumentExtended-Black.woff") format("woff");
    font-display: swap;
}

:root {
    --primary_font: 'Monument Extended', sans-serif;
    --secondary_font: 'Montserrat', sans-serif;
    --primary_color: #1b1c1e;
    --secondary_color: #fff;
    --blue: rgb(70, 66, 255);
}

body {
    background-color: var(--primary_color);
    overflow-x: hidden;
    padding: 0.5em;
    margin: 0;
    font-family: var(--secondary_font);
    color: var(--secondary_color);
}

@keyframes loading {
    0% {
        width: 0
    }

    100% {
        width: 100%
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary_color);
}

#preloader {
    background-color: var(--primary_color);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .7s;
}

#preloader img {
    width: 10%;
    height: auto;
    max-width: 10%;
    max-height: auto;
}

#preloader span {
    font-family: var(--primary_font);
    font-size: 2.5em;
    margin-top: 15px;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, .3);
}

#preloader span::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    color: var(--secondary_color);
    -webkit-text-stroke: 0;
    overflow: hidden;
    animation: loading 2s infinite alternate;
}

.gallery-container {
    border: 3px solid white;
    width: 80%;
    margin: 50px auto;
    overflow: auto;
}

.thumb {
    width: 25%;
    box-sizing: border-box;
    float: left;
}

.thumb:hover {
    opacity: 0.5;
    cursor: pointer;
}

.jumbo {
    width: 100%;
    height: 100%;
    border-bottom: 3px solid white;
}

.fade {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.active {
    opacity: 0.5;
}

.link-container {
    margin-bottom: 30px;
}

.link-container a {
    margin-right: 10px;
    color: var(--secondary_color) !important;
    cursor: pointer;
    transition: .5s;
    font-size: 1.5em;
}

.link-container a:hover {
    color: var(--blue) !important;
}

.tool-tag {
    background-color: var(--secondary_color);
    color: var(--primary_color);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.back-btn {
    position: fixed;
    color: var(--secondary_color);
    text-decoration: none;
    font-size: 1em;
    font-family: var(--secondary_font);
    display: inline-block;
    margin: 20px 20px;
    font-weight: 500;
    padding: 1% 1% 1% 0%;
    border-bottom: 1px solid white;
    transition: .5s;
    z-index: 2;
}

.back-btn:hover {
    padding: 1% 1%;
    color: var(--primary_color);
    background-color: var(--secondary_color);
}

.back-btn i {
    margin-left: 10px;
}

.top {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-title-container {
    position: relative;
    display: flex;
    z-index: -2;
    transition: .5s;
    transform: translateX(0%);
}

.top-title-container span {
    font-family: var(--primary_font);
    font-size: 5em;
    color: var(--secondary_color);
    margin-left: 20px;
}

.top-title-container span:nth-child(even) {
    -webkit-text-stroke: 1px var(--secondary_color);
    -webkit-text-fill-color: transparent;
}

.top-title-container:first-child {
    position: relative;
    z-index: 0;
}

.top-title-img {
    position: absolute;
    width: 35%;
    max-width: 600px;
    max-height: 70vw;
    background-color: var(--primary_color);
    top: 15%;
    left: 31%;
    z-index: -1;
    overflow: hidden;
}

.top-title-img img {
    width: 100%;
    height: 100%;
    opacity: .8;
    transition: .7s;
}

.projects {
    width: 80%;
    margin: auto;
}

.section-title {
    font-family: var(--secondary_font);
    font-size: 3em;
    margin-bottom: 1%;
}

.section-subtitle {
    font-family: var(--secondary_font);
    font-size: 1.8em;
    margin: 50px 0 20px 0;
    font-weight: 600;
}

.content {
    display: flex;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.sideA {
    width: 60%;
}

.sideB {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 80%;
    text-align: justify;
    line-height: 150%;
}

.desc-container {
    width: 90%;
    text-align: justify;
}

.contact-btn {
    color: var(--secondary_color);
    text-decoration: none;
    font-size: 1em;
    font-family: var(--secondary_font);
    display: inline-block;
    margin: 20px 20px 20px 0;
    font-weight: 500;
    padding: 3% 1% 3% 0%;
    border-bottom: 1px solid white;
    transition: .5s;
}

.bat-img {
    height: 200px;
}

.contact-btn:hover {
    padding: 3% 1.5%;
    color: var(--primary_color);
    background-color: var(--secondary_color);
}

.contact-btn i {
    margin-left: 10px;
}

footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

@media screen and (max-width: 1023px) {

    .dekstop {
        display: none;
    }

    #preloader img {
        width: 20vh;
        height: auto;
        max-width: 20vh;
        max-height: auto;
    }

    .back-btn {
        padding: 3% 3%;
        font-size: .8em;
        border: none;
        background-color: var(--secondary_color);
        color: var(--primary_color);
    }

    .top-title-img {
        width: 80%;
        max-width: 80%;
        max-height: 100%;
        left: 8%;
        top: 28%;
    }

    .top-title-container span {
        font-size: 2em;
    }

    .dekstop {
        display: none;
    }

    .content {
        width: 85%;
    }

    .sideA {
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .gallery-container {
        width: 100%;
    }
}